.pixel {
  min-width: 20px;
  min-height: 20px;
  border: gray 1px solid;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.displayrows {
  display: flex;
  flex-direction: row;
}

.header {
  text-align: center;
  color: white;
}

.App {
  background-color: rgb(8, 8, 8);
  max-height: 100%;
  min-height: 100vh;
  max-width: 100%;
  padding: 5%;
  font-size: 2rem;
  padding-bottom: 100px;
}

.setDrawBoard--form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.setDrawBoard--form input {
  background-color: antiquewhite;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1;
  height: 2rem;
  padding: 5px;
  background-color: black;
  color: white;
}

.setDrawBoard--form button {
  background-image: linear-gradient(
    to right,
    rgb(178, 60, 237) 0%,
    darkblue 51%,
    rgb(172, 57, 230) 100%
  );
  color: white;
  height: 2rem;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.drawContainer {
  max-width: 700px;
  max-height: 700px;
  margin-bottom: 100px;
}
